{% extends 'base.html' %}

{% block content %}

    <div class="container mx-auto px-5 py-24">
      <div class="text-center mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">
          Kitabxana sehifesi</h1>
        <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">
          Kitabxana — növündən asılı olmayaraq kitab şəklində çap edilmiş bütün informasiya daşıyıcılarının toplandığı və istifadə edildiyi yerdir.</p>
        <div class="flex mt-6 justify-center">
          <div class="w-16 h-1 rounded-full bg-pink-500 inline-flex"></div>
        </div>
      </div>
    </div>

{% endblock content %}  